*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    background-color: var(--black_1);
    color: var(--comfy-reading);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: var(--main_font_family);
    font-weight: 200;
    line-height: 1.6;
    min-height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    @media(min-width: $hd) {
        font-size: 15px;
    }

    &.overflow {
        overflow: hidden;
    }
}

.page-content {
    flex: 1 0 auto;
    position: relative;
    padding-bottom: 40px;
    z-index: 1;
    @media(min-width: $fhd) {
        padding-bottom: 80px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1840px;
    padding-left: 24px;
    padding-right: 24px;
    @media(min-width: 480px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: color 0.3s;
    @include hover {
        color: var(--primary-a);
    }
}

img {
    height: auto;
    max-width: 100%;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    line-height: 1.25;
}

p {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

hr {
    margin: 40px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px dashed rgba(#fff, 0.2);
    @media(min-width: $hd) {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    &:last-child {
        margin-bottom: 0;
        @media(min-width: $hd) {
            margin-bottom: 0;
        }
    }

    &:first-child {
        margin-top: 0;
        @media(min-width: $hd) {
            margin-top: 0;
        }
    }
}

.color-green {
    color: var(--primary);
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}