/*::-moz-selection {
    background: var(--primary_red);
    color: #fff;
    text-shadow: 0 0 white;
}

::selection {
    background: var(--primary_red);
    color: #fff;
    text-shadow: 0 0 white;
}*/