<ul class="features">
    <li class="features__item"><span>12 <span class="color-green">online</span> занятий</span></li>

    <li class="features__item"><span>Доступ в приватный <span class="color-green">Telegram</span><br> канал</span></li>

    <li class="features__item"><span><span class="color-green">Готовые стратегии</span> которые можно запустить сразу</span></li>

    <li class="features__item"><span><span class="color-green">Бесплатный калькулятор</span> для расчета доходности и рисков</span></li>

    <li class="features__item"><span><span class="color-green">Запуск торгового<br> бота</span> с 3го занятия</span></li>
</ul>