<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__logo"><img src="images/logo.svg" alt="CryptoMatic"></div>

        <div class="footer__links">
            <ul>
                <li>
                    <a href="#">Договор оферты</a>
                </li>
                <li>
                    <a href="#">Политика конфиденциальности</a>
                </li>
                <li>
                    <a href="#">Пользовательское соглашение</a>
                </li>
            </ul>
        </div>

        <div class="footer__contacts">
            Техподдержка:

            <a href="#" target="_blank">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg" />
                </svg>
                RomanCryptoM
            </a>

            <a href="mailto:texpomosh@one-shopw.com">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#envelope" />
                </svg>
                texpomosh@one-shopw.com
            </a>
        </div>
    </div>
</footer>