<div class="form">
    <form action="">
        <div class="form__row">
            <label class="form__label">
                <span class="form__label-text">Имя</span>
                <input class="input" name="name" type="text" placeholder="не введено">
            </label>
        </div>

        <div class="form__row">
            <label class="form__label">
                <span class="form__label-text">E-mail / Telegram</span>
                <input class="input" name="email_tg" type="text" placeholder="не введено">
            </label>
        </div>

        <div class="form__row">
            <label class="form__label">
                <span class="form__label-text">Телефон</span>
                <input class="input" name="phone" type="text" placeholder="не введено">
            </label>
        </div>

        <p class="form__note">
            * Подробности акции Вы можете уточнить у нашего <a href="#">менеджера<svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg" /></svg></a>
        </p>

        <div class="form__button-block">
            <button class="button button--green button--h_48" type="submit" disabled>Записаться</button>
        </div>
    </form>
</div>